body {
  background-color: burlywood;
}

p {
  text-align: center;
}
h1 {
  text-align: center;
  color: rgb(71, 65, 77);
}

img {
  max-width: 75%;
  display: block;
  margin: 30px auto;
}

footer {
  text-align: center;
}

footer a {
  margin: 0 10px;
  color: green;
}
